/*All pages*/
* {
	font-family:'Helvetica', 'Arial', 'Sans-Serif';
	text-align: justify;
}
/*Default layout*/
body {
	margin: 0;
}
#page-nav span ul {
	margin: 0 auto;
	padding: 0;
	width: 80%;
}
#page-nav span ul li, #page-nav span ul li a {
	display: inline;
	padding: 5px 10px 5px 0;
	color: #675D5D;
	font-weight: bold;
	font-style: italic;
	text-decoration: none;
}
#page-nav span ul li a:hover {
	text-decoration: underline;
}
footer {
	display: block;
	background-color: teal;
	width: 100%;
	padding: 15px 0;
}
footer p, footer a {
	width: 80%;
	margin: 0 auto;
	color: white;
	text-align: right;
    font-size: 20px;
	font-weight: bold;
	text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
}
/*Any page*/
.page-title {
	display: block;
	width: 100%;	
	margin: 0;
	padding: 5px 0;
	background-color: teal;
	color: white;
	text-align: center;
	font-family: 'Impact', 'Arial', 'Sans-Serif';
	font-size: 50px;
	letter-spacing: 2px;
}
.within-page-links {
	width: 80%;
	margin: 0 auto;
	border-right: 10px double teal;
	border-left: 10px double teal;
	padding: 0 10px;
}
.within-page-links h2 {
	margin: 0;
	padding: 7px 0;
}
.within-page-links ul {
	display: block;
	margin: 0 0 10px 0;
	text-decoration: underline;
	list-style-type: disc;
	padding: 0 20px;
	color: #675D5D;
    font-size: 20px;
}
.within-page-links ul li a {
	color: #675D5D;
}
.within-page-links a:hover {
	color: black;
}
#links-bottom {
	border-bottom: 5px solid teal;
}
main {
	display: block;
	width: 80%;
	border-right: 10px double teal;
	border-left: 10px double teal;
	margin: 0 auto;
	padding: 0 10px;
}
main h2 {
	margin: 0;
	padding: 20px 0 5px 0;
}
main h3 {
	text-align: center;
	margin: 0;
}
figure {
	width: 95%;
	margin: 0 auto;
}
figure~figure {
	padding-top: 15px;
}
figure img {
	display: block;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
figcaption {
	padding-top: 10px;
}
.references {
	padding-bottom: 15px;
}
.references h3 {
	text-align: left;
	padding-top: 15px;
}
main ul {	
	width: 95%;
	margin: 0 auto;	
	padding: 0;
}
main li {
	width: 95%;
	margin: 0 0 0 auto;
	padding: 0;
}
/*Maps page*/
#fivekmbuffer img {
	max-width: 750px;
}
#twocounties img {
	max-width: 850px;
}
#butterfly img {
	max-width: 350px;
}
#ohiohomes img {
	max-width: 475px;
}
#hikers img {
	max-width: 500px;
}
/*CV page*/
#CV-main {
	padding-bottom: 10px;
}
[download] {
	display: block;
	padding-top: 10px;
}
#CV-main h3 {
	text-align: left;
	padding-top: 15px;
	padding-bottom: 5px;
}
#CV-main p {
	margin: 0 0 5px 0;
}
