/*All pages*/
* {
	font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
body {
	margin: 0px;
	border: 0px;
}
header {
	display: block;
	background-color: teal;
	width: 100%;
	padding: 5px 0;
	letter-spacing: 2px;
}
span ul li {
	display: inline;
	padding: 5px 10px 5px 0;
}
span ul li a {
	color: #675D5D;
}
main {
	display: block;
	width: 80%;
	border-right: 10px double teal;
	border-left: 10px double teal;
	margin: 0 auto 0 auto;
	padding: 0 5px;
}
h1 {
    font-size: 50px;
    font-family: 'Impact', 'Arial', 'Sans-Serif';
	color: white;
	text-align: center;
	margin: 15px;
}
h2 {
	font-size: 28px;
	margin-bottom: 5px;
}
h3 {
	font-size: 24px;
	margin-top: 0;
	margin-bottom: 10px;
	padding-top: 12px;
}
ul {
	margin-bottom: 0;
	padding-bottom: 12px;
}
figcaption {
    font-size: 20px;
    color: #333;
}
nav ul, footer ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;
	color: white;
	margin: 0;
}
nav {
	width: 80%;
	margin: 0 auto;
}
nav ul li {
	font-style: italic;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
footer {
	display: block;
	background-color: teal;
	width: 100%;
	margin: 0;
	padding: 7px;
}
footer a {
	color: white;	
    font-size: 20px;
	font-weight: bold;
}
footer a:hover {
    text-decoration: underline;
}
.references {
	padding-bottom: 15px;
}
.references ul {
	margin: 0px;
}

/*Maps page*/
.within-page-links {
	border-right: 10px double teal;
	border-left: 10px double teal;
	padding: 0 5px;
}
.within-page-links h2 {
    margin: 0;
	padding: 15px 0 0 0;
}
.within-page-links ul {
	display: block;
	margin-top: 0;
	text-decoration: underline;
	list-style-type: disc;
	padding: 0 0 10px 20px;
	color: #675D5D;
}

.within-page-links a {
    color: #675D5D;
    font-size: 20px;
}
.within-page-links a:hover {
	color: black;
}
#links-bottom {
	border-bottom: 5px solid teal;
}
#southwesternMI h2 {
	margin: 0;
	padding: 15px 0;
}
.map {
	display: block;
    width: 100%;
	max-width: 100%;
    margin-left: auto;
	margin-right: auto;
	margin-top: 0;
}
.map h3 {
    text-align: center;
}
.map img {
	display: block;
	width: 100%;
	margin-left: auto;
    margin-right: auto;  
}
#fivekmbuffer img {
	max-width: 750px;
}
#twocounties img {
	max-width: 850px;
}
#butterfly img {
	max-width: 350px;
}
#ohiohomes img {
	max-width: 475px;
}
#hikers img {
	max-width: 500px;
}

/*CV page*/
.download {
	display: block;
	padding-top: 10px;
}