<!DOCTYPE html>
	<html lang="en">
		<head>
			<title>{{ page.title }}</title>
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav id="page-nav">
				<ul>
					<span>
	        			<li><a href="/">Maps</a></li>
						<li><a href="/CV">About Me</a></li>
					</span>
				</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div>
			<footer>
	    		<p>See my code examples at: <a href="https://github.com/EISprague">github.com/EISprague</a></p>
			</footer>
		</body>
	</html>
