<!DOCTYPE html>
	<html lang="en">
		<head>
			<title>{{ page.title }}</title>
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
				<span>
	    			<ul>
	        			<li><a href="/">Maps</a></li>
	        			<li><a href="/CV">CV</a></li>
					</ul>
				</span>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="https://github.com/EISprague">github.com/EISprague</a></li>
				</ul>
			</footer>
		</body>
	</html>
